/* Colours */
:root {
    --white: #ffffff;
    --light-gray: #8c8c8c;
    --dark-gray: #171717;
    --gray: #2c2c2c;
    --background: #050505;
    --yellow: #ecce00ff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Body */
body {
    font-family: 'Libre Baskerville', serif;
    color: var(--white);
    background-color: var(--background);
}

/* Nav bar */
nav {
    text-align: center;
    background-color: var(--dark-gray);
    position: -webkit-sticky; 
    position: sticky;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Posts */
.post-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    width: 800px;
    min-width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--dark-gray);
    border-radius: 20px;
    padding: 30px;
}

.post-content{
    word-wrap: break-word;
}

.post-info {
    color: var(--light-gray);
}

.post-category {
    display: inline;
    background-color: var(--gray);
    padding: 10px;
    border-radius: 5px;
}

/* Animations */

.hover-animate {
    animation: none;
    border-bottom: 2px solid transparent;
}

.hover-animate:hover {
    animation: hover-element 0.3s;
    -webkit-animation: hover-element 0.3s;
    -moz-animation: hover-element 0.3s;
    -o-animation: hover-element 0.3s;
    /* Fill mode */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

@keyframes hover-element {
    from  {background-color: var(--dark-gray);
           border-bottom: 2px solid transparent;}
    to    {background-color: var(--gray);
           border-bottom: 2px solid var(--yellow);}
}

@-webkit-keyframes hover-element {
    from  {background-color: var(--dark-gray);
        border-bottom: 2px solid transparent;}
    to    {background-color: var(--gray);
        border-bottom: 2px solid var(--yellow);}
}

@-moz-keyframes hover-element {
    from  {background-color: var(--dark-gray);
        border-bottom: 2px solid transparent;}
    to    {background-color: var(--gray);
        border-bottom: 2px solid var(--yellow);}
}

@-o-keyframes hover-element {
    from  {background-color: var(--dark-gray);
        border-bottom: 2px solid transparent;}
    to    {background-color: var(--gray);
        border-bottom: 2px solid var(--yellow);}
}