/* Colours */
:root {
    --white: #ffffff;
    --light-gray: #8c8c8c;
    --dark-gray: #171717;
    --gray: #2c2c2c;
    --background: #050505;
    --yellow: #ecce00ff;
}

/* Remove built in style */
ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #101010;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ecce00ff;
    border-radius: 10px;
}


/* Body */
html, body {
    min-width: fit-content;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Libre Baskerville', serif;
    color: var(--white);
    background-color: var(--background);
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid var(--yellow);
}


/* Flash messages */
.flash {
    text-align: center;
}

.flash .info {
    text-shadow: 1px 1px 6px #000000;
    padding: 10px 20px 10px 20px;
    background-color: darkgreen;
    border-radius: 5px;
    margin: 0 auto;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flash .error {
    text-shadow: 1px 1px 6px #000000;
    padding: 10px 20px 10px 20px;
    background-color: darkred;
    border-radius: 5px;
    margin: 0 auto;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Headers */
header {
    word-wrap: normal;
    font-size: 4em;
    text-align: center;
    color: var(--yellow);
}

#subtitle {
    text-align: center;
    font-size: 1em;
    color: var(--yellow);
    /* display: inline-block; */
}
/* Nav bar */
/* Background */
nav {
    background-color: var(--dark-gray);
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    min-width: 100px;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Home buttons */
.home-container {
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* width: 100%; */
    height: auto;
}


.home-element {
    width: 800px;
    min-height: 50px;
    margin-top: 50px;
    color: white;
    font-family: inherit;
    text-align: center;
    background-color: var(--dark-gray);
}


a.home-element {
    line-height: 50px;
}

select.home-element, button.home-element {
    box-sizing: border-box;
    outline: none;
    border: none;
}

/* Create post button */
#form-post {
    margin-top: 0;
    background-color: var(--background);
}

/* Create content and account forms */
form.home-element {
    background-color: var(--background);
    margin-top: 0;
    display: flex;
    flex-direction: column;
}


form * {
    color: white;
    border: none;
    background-color: var(--dark-gray);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    border-bottom: 2px solid transparent;
}

form textarea {
    resize: none;
    padding-bottom: 30%;
}

form *:focus {
    outline: none;
    border-bottom: 2px solid var(--yellow);
    /* box-shadow: 0px 0px 4px 1px var(ye); */
}

form input[type=submit]:hover, form select:hover {
    cursor: pointer;
}

form input:focus {
    background-color: var(--gray);
}

input, textarea {
    font-family: inherit;
    width: 100%;
}

/* Posts and comments */
.post-container {
    display: flex;
    /* overflow: hidden; */
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.post {
    width: 800px;
    min-width: 100px;
    margin-top: 40px;
    margin-bottom: 4px;
    background-color: var(--dark-gray);
    border-radius: 20px;
    padding: 30px;
}

/* Post elements */
.post:hover {
    box-shadow: 0px 0px 5px 2px var(--yellow);
}


.post-title {
    font-size: 2em;
    padding-bottom: 30px;
    border-bottom: 4px solid var(--yellow);
}

.post-content{
    word-wrap: break-word;
    padding-bottom: 30px;
    border-bottom: 4px solid var(--yellow);
}

.post-info {
    color: var(--light-gray);
}

.post-category {
    display: inline-block;
    background-color: var(--gray);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--yellow);
}

/* Post interact and delete */

.interact {
    display: inline-block;
    background-color: var(--gray);
    padding: 10px 15px;
    margin-bottom: 5px;
}

.interact input[type=submit] {
    margin: 0;
    background-color: var(--gray);
}

a.interact {
    margin-top: 15px;
    margin-bottom: 15px;
}

.reply .interact {
    margin-top: 15px;
}

/* page specific */
.post.page-post {
    width: 1000px;
}

.post.page-post:hover, .post.comment:hover, .post.reply:hover {
    box-shadow: none;
}

.page-post .post-element {
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-post .post-category {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Username on post page */
.page-post .post-user {
    background-color: var(--gray);
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid transparent;
    border-radius: 10px;
    margin-bottom: 10px;
}

.page-post .post-user:hover {
    border-bottom: 2px solid var(--yellow);
}

/* Grade buttons */
input[name=grade] {
    color: white;
    background-color: var(--gray);
    padding: 10px 15px;
    margin-right: 20px;
    /* border: 2px solid var(--yellow); */
    border: none;
    border-radius: 3px;
    width: 10%;
}

input[name=grade]:hover, .interact:hover {
    box-shadow: 0px 0px 5px 2px var(--yellow);
    cursor: pointer;
}

/* Page post */
.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* I need these it wont auto fit in div */
.comment-form textarea, .comment-form input {
    font-family: inherit;
    width: 1000px;
}


.comment-form {
    width: 1000px;
}

.comment-form h3 {
    font-size: 2em;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--yellow);
}

.comment {
    width: 1000px;
}

/* Reply indent */

.reply {
    margin-left: auto;
}

/* Reply and account forms */

.create-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-form {
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    }

.create-form input {
    font-family: inherit;
    font-size: 1.2em;
    display: block;
}
        
.sign-redirect {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--dark-gray);
    display: block;
    text-align: center;
}

/* Error pages */
.error-page {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.error-page a {
    display: block;
    text-align: center;
    background-color: var(--dark-gray);
    padding: 20px 15px;
}

.reply-to {
    padding-bottom: 30px;
    border-bottom: 3px solid var(--yellow);
}

/* Account */
.account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-element {
    width: 800px;
}

.account-user-info {
    background-color: var(--dark-gray);
    margin-top: 40px;
    padding: 30px;
    border-radius: 10px;
}

.account-user-posts h2 {
    padding-bottom: 10px;
    border-bottom: 3px solid var(--yellow);
}

.account-user-posts h3 {
    font-size: 2em;
}

.account-user-posts li {
    padding: 10px 30px;
    background-color: var(--dark-gray);
}

.account-user-posts li:hover {
    box-shadow: 0px 0px 3px 1px var(--yellow);
}

.account-user-posts a {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Animations */
/* Hover over button */

.hover-button, select.hover-button{
    animation: none;
    border-bottom: 3px solid transparent;
}

.hover-button:hover {
    animation: hover-button 0.3s;
    -webkit-animation: hover-button 0.3s;
    -moz-animation: hover-button 0.3s;
    -o-animation: hover-button 0.3s;
    /* Fill */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

@keyframes hover-button {
    from  {background-color: inherit;
           border-color: transparent;}
    to    {background-color: var(--gray);
           border-color: var(--yellow);}
}

@-webkit-keyframes hover-button {
    from  {background-color: inherit;
        border-color: transparent;}
    to    {background-color: var(--gray);
        border-color: var(--yellow);}
}

@-moz-keyframes hover-button {
    from  {background-color: inherit;
        border-color: transparent;}
    to    {background-color: var(--gray);
        border-color: var(--yellow);}
}

@-o-keyframes hover-button {
    from  {background-color: inherit;
        border-color: transparent;}
    to    {background-color: var(--gray);
        border-color: var(--yellow);}
}

input.hover-input {
    animation: none;
}

.hover-input:hover {
    animation: hover-input 0.1s;
    -webkit-animation: hover-input 0.1s;
    -moz-animation: hover-input 0.1s;
    -o-animation: hover-element 0.1s;
    /* Fill */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

/* Hover over input */
@keyframes hover-input {
    from {background-color: inherit;}
    to {background-color: var(--gray);}
}

@-webkit-keyframes hover-input {
    from {background-color: inherit;}
    to {background-color: var(--gray);}
}

@-moz-keyframes hover-input {
    from {background-color: inherit;}
    to {background-color: var(--gray);}
}

@-o-keyframes hover-input {
    from {background-color: inherit;}
    to {background-color: var(--gray);}
}


/* Debug */

/* * {
    background: #000 !important;
    color: red !important;
    outline: solid yellow 1px !important;
  }  */