/* Index */
html {
    scroll-behavior: smooth;
}

/* Dark mode */
body {
    font-family: 'Libre Baskerville', serif;
    color: #ffffffff;
    background-color: #050505;
    padding: 0;
    margin: 0;
}

#top {
    top: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

/* Title */
header {
    padding: 20px 0 20px;
    background-color: #050505;
    color:#ecce00ff;
    text-align: center;
    font-size: 5em;
    font-weight: 2000;
}

/* 
Nav Bar 
*/

nav {
    background-color: #171717;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

nav li {
    display: inline;
}

nav a {
    font-family: inherit;
    float: none;
    display: inline-block;
    margin: auto;
    font-weight: 500;
    text-align: center;
    animation: none;
    padding: 25px 1.5em 25px 1.5em;
    border-bottom: 2px solid transparent;
}

/* 
    Main Page 
*/

.flash {
    text-align: center;
}

main {
    margin-top: 250px;
}
/* Scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #101010;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ecce00ff;
    border-radius: 10px;
}



/* Remove Colour from links */
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

/* No bullet point*/
ul {
    list-style-type: none;
    padding: 0;
}

/* Forms for posting and commenting */
textarea {
    resize: none;
}

/* Form highlight */
form *:focus {
    border: 2px solid #ecce00ff;
    box-shadow: 0px 0px 2px 1px #ecce00ff;

}

/* 
Home page 
*/

.main-page {
    width: 30%;
    min-width: 500px;
    margin: 0 auto;
    padding: 10px;
}


/* Create post/comment form */
.create {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    row-gap: 50px;
}

.create * {
    font-family: inherit;
}

.create input[type=button],
.create input[type=submit],
.create input[type=text],
.create textarea,
.create button,
.create select {
    width: 50%;
    box-sizing: border-box;
    border: none;
    min-width: 300px;
    padding: 10px;
    color: inherit;
    background-color: #1c1c1c;
    outline: none;
    }

/* Hover indicator */
.create button {
    border-bottom: 2px solid transparent;
}


/* Create post form */
.create input[type=text]:focus, 
.create textarea:focus, 
.create select:focus {
    border: 2px solid #ecce00ff;
}

.create textarea {
    padding-bottom: 20%;
}

#form-post * {
    margin-top: 2px;
}

/* Sort buttons */

.sort {
    margin: auto;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.sort * {
    font-family: inherit;
}

.sort select {
    width: 80%;
    box-sizing: border-box;
    border: none;
    min-width: 300px;
    padding: 10px;
    color: white;
    background-color: #1c1c1c;
    outline: none;
    border-bottom: 2px solid transparent;
}


.sort input[type=submit] {
    box-sizing: border-box;
    
}

/* The posts */
.post {
    background-color: #1c1c1c;
    border-style: solid;
    border-radius: 1em;
    border-color: #ecce00ff;    
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.post:hover {
    box-shadow: 0px 0px 5px 2px #ecce00ff;
}

/* Post elements */

#post-title {
    font-size: 3em;
    background-color: #252525;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#user-date {
    border-top: 2px solid #ecce00ff;
    border-bottom: 2px solid #ecce00ff;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Included in page */
#category, .page-head h2{
    display: inline-block;
    background-color: #252525;
    padding: 10px;
    border: 1px solid #ecce00ff;
    border-radius: 5px;
}

#content {
    text-align: justify;
    word-wrap: break-word
}

#post-foot {
    border-top: 2px solid #ecce00ff;
    padding-top: 20px;
}


/* Like/dislike buttons */

form.grade-content {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center
}

form.grade-content input[type=submit] {
    color: inherit;
    background-color: #252525;
    padding: 0.7em;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px solid #ecce00ff;
    border-radius: 20px;
    margin-right: 10px;
}

form.grade-content input[type=submit]:hover {
    box-shadow: 0px 0px 5px 2px #ecce00ff;
    cursor: pointer;
}


form.grade-content p {
    display: inline-block;
    vertical-align: auto;
    margin-right: 10px;
}


/* 
Page
*/

.page-head {
    margin: 0 auto;
    width: 40%;
    padding: 0 20px 20px 50px;
    border-bottom: 2px solid #ecce00ff;
}

/* Title */
.page-head h1 {
    text-align: center;
    font-size: 3em;
    word-wrap: break-word;

}
/* info (username, date) */
#page-info {
    display: inline-block;
    padding: 20px 0 20px;
}

#page-info a {
    padding: 10px;
    background-color: #1c1c1c;
}

/* page content */
#page-body {
    padding: 20px;
    margin: 0 auto;
    width: 45%;
}

#page-body p {
    text-align: center;
    word-wrap: break-word;
}

/* like dislike */
#post-grade-page {
    padding: 20px 20px 20px 50px;
    border-top: 2px solid #ecce00ff;
    margin: 0 auto;
    width: 40%;
}

/* comments */
.page-foot {
    margin: 0 auto;
    width: 45%;
}

.page-foot h3 {
    font-size: 2em;
}

.comment-form textarea {
    width: 100%;
    box-sizing: border-box;
    min-width: 300px;
    padding: 10px;
    color: inherit;
    outline: none;
    border: none;
    background-color: #1c1c1c;
    border: 2px solid transparent;
}

.comment-form textarea:hover {
    border-bottom: 2px solid #ecce00ff;
}

/* Replies */
.reply {
    padding-left: 5%;
}

/* 
Create account and log in
*/

/* 
Animations
*/


/* navbar, sort buttons, username button */
nav a:hover, .create button:hover, #page-info a:hover, .sort select:hover {
    animation: nav-hover 0.3s;
    -webkit-animation: nav-hover 0.3s;
    -moz-animation: nav-hover 0.3s;
    -o-animation: nav-hover 0.3s;
    /* fill modes */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}


@keyframes nav-hover {
    from  {background-color: #1c1c1c;
           border-bottom: 2px solid transparent;}
    to    {background-color: #252525;
           border-bottom: 2px solid #ecce00ff;}
}

@-webkit-keyframes nav-hover {
    from  {background-color: #1c1c1c;
        border-bottom: 2px solid transparent;}
    to    {background-color: #252525;
        border-bottom: 2px solid #ecce00ff;}
}

@-moz-keyframes nav-hover {
    from  {background-color: #1c1c1c;
        border-bottom: 2px solid transparent;}
    to    {background-color: #252525;
        border-bottom: 2px solid #ecce00ff;}
}

@-o-keyframes nav-hover {
    from  {background-color: #1c1c1c;
        border-bottom: 2px solid transparent;}
    to    {background-color: #252525;
        border-bottom: 2px solid #ecce00ff;}
}