/* Index */

html{
    scroll-behavior: smooth;
}

nav{
    margin: 0;
    top: 0;
    background-color: #171717;
    overflow: hidden;
    position: fixed;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

header{
    margin-top: 100px;
    color:#ecce00ff;
    text-align: center;
    font-size: 4.5em;
}

/* Dark mode */
body{
    color: #ffffffff;
    background-color: #050505;
}

/* Remove Colour from links */
a, a:hover, a:visited, a:active{
    color: inherit;
    text-decoration: none;
    font-style: italic;
}

/* No bullet point*/
ul{
    list-style-type: none;
    padding: 0;
}

/* 
Home page 
*/

.main_page{
    width: 30%;
    min-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.form_post{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-bottom: 5em;
}

input[type=button], input[type=submit], button, select {
    padding: 10px;
}


.post{
    background-color: #1c1c1c;
    border-style: solid;
    border-radius: 1em;
    border-color: #ecce00ff;
    box-shadow: 0px 0px 5px 2px #ecce00ff;
    
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.post_title{
    font-size: 2.5em;
}

/* Like/dislike button one row */
form.grade{
    display: flex;
    flex-direction: row;
}

/* Forms for posting and commenting */

textarea{
    resize: none;
}