/* Index */

html{
    scroll-behavior: smooth;
}

body{
    color: #ffffffff;
    background-color: #050505;
}

header{
    color:#ecce00ff;
    text-align: center;
    font-size: 4em;
}

nav{
    background-color: #171717;
}

a, a:hover, a:visited, a:active{
    color: inherit;
    text-decoration: none;
    font-style: italic;
}

ul{
    list-style-type: none;
}

/* Home page */

.create_post{


}
.main_page{
    width: 30%;
    min-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.post{
    background-color: #1c1c1c;
    border-style: solid;
    border-radius: 1em;
    border-color: #ecce00ff;
    box-shadow: 0px 0px 5px 2px;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.post_title{
    font-size: 2.5em;
}

/* Forms for posting and commenting */

textarea{
    resize: none;
}