{% extends "index.html" %}
{% block content %}
<div class="about">
    <h1>The Unofficial Forum Of Elden Ring</h1>
    <div class="about-info">
        <p>Made for Elden Ring Players, by an Elden Ring player</p>
        <h2>What is The Roundtable Hold</h2>
        <p>The Roundtable Hold is a place where fellow tarnished can seek guidance from each other, you may discuss about the lore, gameplay elements, ask others for help, and more</p>
        <p>all are welcome in The Roundtable Hold</p>
        <h2>How to use</h2>
        <p>Start by creating an account by clicking on the create account text.</p>
        <p>Creating an account allows you to create your own posts, comments and replies.</p>
        <p>An account will also enable liking and disliking other user content</p>
        <p>Likes and dislikes helps other tarnished to figure out which content is credible or not</p>
        <p>Click on a post in the home page to view the comments and replies other users have created. This page also allows you to click on a username to access their account page.</p>
        <h2>Rules of The Roundtable Hold</h2>
        <p>Its important that The Roundtable Hold will remains a safe place for tarnished so we ask you to remain civil and present decency when discussing with other tarnished</p>
        <p>Do not harrass others</p>
        <p>Do not post anything that could offend others, including but not limited to racism, homophobia, and hate speech</p>
        <p>Do not dox or witchhunt others</p>
        <p>We ask that you follow basic online ettiquete</p>            
        <p>we ask that posts and comments remain relevant to Elden Ring</p>
        <p>By using this site, you agree to the rules and the consequences for breaking them</p>
        <p>Thank you for your consideration</p>
    </div>
</div>
{% endblock %}
