{% extends "index.html" %}
{% block content %}
<div class="create_post">
    <button onclick="hideForm()" id="create_post">
        Create Post
    </button><br>
    <div id="form">
        <form action="/create_post" method="POST" enctype="application/x-www-form-urlencoded">    
            <input type="text" name="title" placeholder="An intriguing title" maxlength="50" required
            oninvalid="this.setCustomValidity('A title is required')" oninput="this.setCustomValidity('')"><br>
            <textarea name="content" cols="30" rows="10" placeholder="Your text (optional)"></textarea><br>
            <select name="type" required oninvalid="this.setCustomValidity('Select a category')" oninput="this.setCustomValidity('')">
                <option value="">--Select Category--</option>
                <option value="General">General</option>
                <option value="Help">Help</option>
                <option value="Lore">Lore</option>
                <option value="Humor">Humor</option>
                <option value="News">News</option>
            </select>
            <input type="submit" value="Post">
        </form>
    </div>
    <!-- Shows or hide the form when the user clicks the button
    This button is only visible to logged in users -->
</div><br>
<ul>
    <!--
        Reference
        Index : Column Name
            0 : id
            1 : type
            2 : title
            3 : content
            4 : like
            5 : dislike
            6 : user_id
            7 : date
     -->
    {% for post in post %}
        <li>
            <div class="post">
                <div class="post_head">
                    <h4 class="post_title">
                        <a href="{{ url_for('page', id=post[0]) }}">{{ post[2] }}</a>
                    </h4>
                    <div class="post_head">
                        <h5>
                            {{ post[1] }}
                        </h5>
                        <p>
                            {{ post[6] }}
                        </p>
                        <p>
                            {{ post[1] }}
                        </p>
                    </div>
                </div>
                <div class="post_body">
                    <p>{{ post[3] }}</p>
                </div>
                <div class="post_foot">
                    <p>
                        {{ post[4] }}
                    </p>
                    <p>
                        {{ post[5] }}
                    </p>
                    <p>
                        {{ post[7] }}
                    </p>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
<script>
    var show = document.getElementById("form");
    show.style.display = "none"
    function hideForm() {
        console.log("Shown")
        if (show.style.display == "none"){
            show.style.display = "block";
        } else {
            show.style.display = "none";
        }
    }
</script>
{% endblock %}