{% extends "index.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for m in messages %}
        <p>{{m}}</p>
    {% endfor %}
{% endif %}
{% endwith %}{% set section = namespace(value=0) %}
{{ user_graded }}
{% if session["user_id"] is defined %}
<div class="create_post">
    <button onclick="hideForm()" id="create_post">
        Create Post
    </button><br>
    <div id="form">
        <form action="/create_post" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="text" name="title" placeholder="An intriguing title" maxlength="50" required
            oninvalid="this.setCustomValidity('A title is required')" oninput="this.setCustomValidity('')"><br>
            <textarea name="content" cols="30" rows="10" placeholder="Your text (optional)"></textarea><br>
            <select name="type" required oninvalid="this.setCustomValidity('Select a category')" oninput="this.setCustomValidity('')">
                <option value="">--Select Category--</option>
                <option value="General">General</option>
                <option value="Help">Help</option>
                <option value="Lore">Lore</option>
                <option value="Humor">Humor</option>
                <option value="News">News</option>
            </select>
            <input type="submit" value="Post">
            <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
        </form>
    </div>
    <!-- Shows or hide the form when the user clicks the button
    This button is only visible to logged in users -->
</div><br>
{% else %}
<form action="{{ url_for('account', action='sign_in')}}">
    <input type="submit" value="Log In to create a post">
</form>
{% endif %}
<div class="main_page">
    <ul>
        <!--
            Reference
            Index : Column Name
                0 : id
                1 : type
                2 : title
                3 : content
                4 : like
                5 : dislike
                6 : user_id
                7 : date
                8 : username
                9 : grade
        -->
        {% for post in post %}
            {% set section.value = section.value + 1 %}
            <li id ="{{ section.value }}">
                <div class="post">
                    <div class="post_head">
                        <h4 class="post_title">
                            <a href="{{ url_for('page', id=post[0]) }}">{{ post[2] }}</a>
                        </h4>
                        <div class="post_head">
                            <h5>
                                <a href="{{ url_for('dashboard', id=post[6])}}">{{ post[8] }}</a> ● {{ post[7][6:] }} / {{ post[7][4:6] }} / {{ post[7][:4] }}
                            </h5>
                            <p>
                                {{ post[1] }}
                            </p>
                        </div>
                    </div>
                    <div class="post_body">
                        <p>{{ post[3] }}</p>
                    </div>
                    <div class="post_foot">
                        <p>
                            {{ post[4] }}
                        </p>
                        <p>
                            {{ post[5] }}
                        </p>
                        {{ post[9] }}
                        {% if session["user_id"] is defined %}
                            {% if post[9] == None %}
                                <form action="{{ url_for('grade', id=post[0]) }}" method="POST" enctype="application/x-www-form-urlencoded">
                                    <input type="hidden" name="table" value="Post">
                                    <input type="hidden" name="section" value="{{ section.value }}">
                                    <input type="submit" name="grade" value="Like">
                                    <input type="submit" name="grade" value="Dislike">
                                </form>
                            {% else %}
                                <p>{{ post[9] }}d</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<script>
    var show = document.getElementById("form");
    show.style.display = "none"
    function hideForm() {
        if (show.style.display == "none"){
            show.style.display = "block";
        } else {
            show.style.display = "none";
        }
    }
</script>
{% endblock %}