{% extends "index.html" %}
{% block content %}
<div class="flash">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for c, m in messages %}
                <li class="{{c}}">{{m}}</li>   
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>
{# Each entry will have an assinged id for page section redirect #}
{% set section = namespace(value=0) %}
<div class="home-container">
    {% if session["user_id"] is defined %}
    <button class="home-element hover-animate" onclick="hideForm()">Create Post</button>
    <div class="home-element" id="form-post">
        <form class="home-element" action="{{ url_for('create_post') }}" method="POST" enctype="application/x-www-form-urlencoded" autocomplete="off">
            <input type="text" name="title" placeholder="An intriguing title" maxlength="50" minlength="1" required
            oninvalid="this.setCustomValidity('A title is required')" oninput="this.setCustomValidity('')">
            <textarea name="content" cols="30" rows="10" placeholder="Your text (optional)" maxlength="4000"></textarea>
            <select name="type" required oninvalid="this.setCustomValidity('Select a category')" oninput="this.setCustomValidity('')">
                <option value="">--Select Category--</option>
                <option value="General">General</option>
                <option value="Help">Help</option>
                <option value="Lore">Lore</option>
                <option value="Humor">Humor</option>
                <option value="News">News</option>
            </select>
            <input type="submit" value="Post">
            <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </div>
    {# Shows or hide the form when the user clicks the button
        This button is only visible to logged in users #}
    {% else %}
    <a class="hover-animate home-element" href="{{ url_for('account', action='sign_in')}}">Log in to start creating posts</a>
    {% endif %}
    {# Sorting #}
    <form action="{{ url_for('sort', type='sort') }}" method="POST" enctype="application/x-www-form-urlencoded">
        <select class="home-element hover-animate" name="type" required onchange="this.form.submit()">
            {#categories = {
            "1":"general",
            "2":"help",
            "3":"lore",
            "4":"humor",
            "5":"news"} #}
            <option value="">-Find Post By Category--</option>
            <option value="">All</option>
            <option value="1">General</option>
            <option value="2">Help</option>
            <option value="3">Lore</option>
            <option value="4">Humor</option>
            <option value="5">News</option>
        </select>
        <!-- <input type="submit" value="Sort"> -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
    <form action="{{ url_for('sort', type='order') }}" method="POST" enctype="application/x-www-form-urlencoded">
        <select class="home-element hover-animate" name="order" required onchange="this.form.submit()">
            {# order = {
            "1":"id",
            "2":"like",
            "3":"dislike"} #}
            <option value="">-Order By--</option>
            <option value="1">Likes</option>
            <option value="2">Dislikes</option>
            <option value="">Newest</option>
        </select>
        <!-- <input type="submit" value="Order"> -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
</div>
<ul class="post-container">
    {#
        Reference
        Index : Column Name
            0 : id
            1 : type
            2 : title
            3 : content
            4 : user_id
            5 : date
            6 : dislike
            7 : like
            8 : username
            9 : comment
            10: grade
    #}
    {% for post in post %}
        {% set section.value = section.value + 1 %}
        <a href="{{ url_for('page', id=post[0]) }}">
            <li class="post" id="{{ section.value }}">
                {# id, title #}
                <h1 class="post-element post-title">{{ post[2] }}</h1>
                {# username, date #}
                <p class="post-element post-user" class="user-info">Posted by {{ post[8] }} ● {{ post[5][6:] }} / {{ post[5][4:6] }} / {{ post[5][:4] }} </p>
                {# type #}
                <p class="post-element post-category">{{ post[1] }}</p>
                {# post content #}
                <p class="post-element post-content">{{ post[3] }}</p>
                {# likes and dislikes #}
                <p class="post-element post-grade post-info">Likes : {{ post[7] }}</p>
                <p class="post-element post-grade post-info">Dislikes : {{ post[6] }}</p>
                <form class="post-element grade-content" action="{{ url_for('grade', id=post[0]) }}" method="POST" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="table" value="p">
                    <input type="hidden" name="section" value="{{ section.value }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% if post[10] == 1 %}
                        <p class="post-elemet post-info">Liked</p>
                        {# Dislike Post #}
                        <input type="submit" name="grade" value="Dislike">
                    {% elif post[10] == -1 %}
                        <p class="post-element post-info">Disliked</p>
                        {# Like Post #}
                        <input type="submit" name="grade" value="Like">
                    {% else %}
                        {# likes #}
                        <input type="submit" name="grade" value="Like">
                        {# dislikes #}
                        <input type="submit" name="grade" value="Dislike">
                    {% endif %}
                </form>
                <p class="post-elememnt post-info">{{ post[9] }} Comments</p>
                {% if post[4] == session["user_id"] or session["admin"] == 1 %}
                    <div class="delete delete-post">
                        <form action="{{ url_for('delete')}}" method="POST" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="id" value="{{ post[0] }}">
                            <input type="hidden" name="type" value="p">
                            <input type="submit" value="Delete Post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        </form>
                    </div>
                {% endif %}
            </li>
        </a>
    {% endfor %}
</ul>
<script>
    var show = document.getElementById("form-post");
    console.log(show);
    show.style.display = "none"
    function hideForm() {
        if (show.style.display == "none"){
            show.style.display = "block";
        } else {
            show.style.display = "none";
        }
    }
</script>
{% endblock %}
