<!DOCTYPE html>
<html>
    <head>
        <title>ER Forum</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            
        </header>
        <nav>
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/search">SEARCH</a>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            
        </footer>
    </body>
</html>

<!-- Proper Conventions -->