<!DOCTYPE html>
<html>
    <head>
        <title>ER Forum</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            
        </header>
        <nav>
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('about') }}">ABOUT</a>
            <a href="{{ url_for('search') }}">SEARCH</a>
            <a href="{{ url_for('sign', action='sign_in') }}">LOG IN</a>
            <a href="{{ url_for('sign', action='sign_up') }}">CREATE ACCOuNT</a>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            
        </footer>
    </body>
</html>

<!-- Proper Conventions -->