<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav>
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('about') }}">ABOUT</a>
            {% if session["user_id"] is defined %}
            <a href="{{ url_for('dashboard', id=session['user_id']) }}">MY ACCOUNT</a>
            <a href="{{ url_for('sign_out') }} ">LOG OUT</a>
            {% else %}
            <a href="{{ url_for('account', action='sign_in') }}">LOG IN</a>
            <a href="{{ url_for('account', action='sign_up') }}">CREATE ACCOUNT</a>
            {% endif %}
        </nav>
        <header>
            THE ROUNDTABLE HOLD
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            
        </footer>
    </body>
</html>

<!-- Proper Conventions -->