{% extends "index.html" %}
{% block content %}
{% set section = namespace(value=0) %}
{#
    Reference
    Index : Column Name
        0 : id
        1 : type
        2 : title
        3 : content
        4 : user_id
        5 : date
        6 : dislike
        7 : like
        8 : username
        9 : comment
        10: grade
#}
<div class="page_head">
    <h1>
        {# title #}
        {{ post[2] }}
    </h1>
    <h2>
        {# type #}
        {{ post[1] }}
    </h2>
    {# user_id, username, date #}
    <a href="{{ url_for('dashboard', id=post[4])}}">{{ post[8] }}</a> ● {{ post[5][6:] }} / {{ post[5][4:6] }} / {{ post[5][:4] }}
</div>
<div class="page_body">
    <p>
        {# content #}
        {{ post[3] }}
    </p>
</div>
{% if post[10] == 1 %}
    Likes : {{ post[7] }}
    Dislikes : {{ post[6] }}
    <form class="grade" action="{{ url_for('grade', id=post[0]) }}" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="table" value="p">
        <input type="hidden" name="section" value="{{ section.value }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        Liked
        {# Dislike Post #}
        <input type="submit" name="grade" value="Dislike">
    </form>
{% elif post[10] == -1 %}
    Likes : {{ post[7] }}
    Dislikes : {{ post[6] }}
    <form class="grade" action="{{ url_for('grade', id=post[0]) }}" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="table" value="p">
        <input type="hidden" name="section" value="{{ section.value }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        Disliked
        {# Like Post #}
        <input type="submit" name="grade" value="Like">
    </form>
{% else %}
    Likes : {{ post[7] }}
    Dislikes : {{ post[6] }}
    <form class="grade" action="{{ url_for('grade', id=post[0]) }}" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="table" value="p">
        <input type="hidden" name="section" value="{{ section.value }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {# likes #}
        <input type="submit" name="grade" value="Like">
        {# dislikes #}
        <input type="submit" name="grade" value="Dislike">
    </form>
{% endif %}
<div class="page_foot"></div>
    <h3>
        Comments
    </h3>
    {% if session["user_id"] is defined %}
        <div id="comment_form">
            <form action="{{ url_for('create_comment') }}" method="POST" enctype="application/x-www-form-urlencoded">    
                <textarea name="comment_content" cols="30" rows="10" placeholder="Your comment" required></textarea><br>
                <input type="hidden" name="post_id" value="{{ post[0] }}">
                <input type="submit" value="Post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </form>
        </div>
    {% endif %}
    <!-- Comment and reply reference
    Index : Column
        0 : id
        1 : user_id
        2 : post_id
        3 : parent_comment_id
        4 : content
        5 : date 
        6 : dislike
        7 : like 
        8 : username
        9 : grade -->
        <ul>
        {% for comment in comment %}
            {% set section.value = section.value + 1 %}
            <li id="{{ section.value }}"> 
                <div class="comment">
                    <a href="{{ url_for('dashboard', id=comment[1])}}">{{ comment[8] }}</a> ● {{ comment[5][6:] }} / {{ comment[5][4:6] }} / {{ comment[5][:4] }}<br>
                    {{ comment[4] }}<br>
                    <div id="post_foot">
                        Likes : {{ comment[7] }}<br>
                        Dislikes : {{ comment[6] }}<br>
                        <form class="grade" action="{{ url_for('grade', id=comment[0]) }}" method="POST" enctype="application/x-www-form-urlencoded" class="grade_content">
                            <input type="hidden" name="table" value="c">
                            <input type="hidden" name="section" value="{{ section.value }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            {% if comment[9] == 1 %}
                                Liked
                                {# Dislike Post #}
                                <input type="submit" name="grade" value="Dislike">
                            {% elif comment[9] == -1 %}
                                Disliked
                                {# Like Post #}
                                <input type="submit" name="grade" value="Like">
                            {% else %}
                                {# likes #}
                                <input type="submit" name="grade" value="Like">
                                {# dislikes #}
                                <input type="submit" name="grade" value="Dislike">
                            {% endif %}
                        </form>
                    </div>
                    {# reply to comment #}
                    {% if session["user_id"] is defined %}
                    <form action="{{ url_for('reply_to', post_id=post[0], comment_id=comment[0]) }}">
                        <input type="submit" value="Reply to comment">
                    </form>
                    {% endif %}
                </div><br>
                <div class="reply">
                    <ul>
                        {# Check if the reply "comment_id" id is the same as the comment "id" #}
                        {# This checks if the reply is with the corresponsing comment #}
                        {% for reply in reply %}
                            {% if reply[3] == comment[0] %}
                                {% set section.value = section.value + 1 %}
                                <li id="{{ section.value }}">
                                    <a href="{{ url_for('dashboard', id=reply[1])}}">{{ reply[8] }}</a> ● {{ reply[5][6:] }} / {{ reply[5][4:6] }} / {{ reply[5][:4] }}<br>
                                    {{ reply[4] }}<br>
                                    <div id="post_foot">
                                        Likes : {{ reply[7] }}<br>
                                        Dislikes : {{ reply[6] }}<br>
                                        <form class="grade" action="{{ url_for('grade', id=reply[0]) }}" method="POST" enctype="application/x-www-form-urlencoded" class="grade_content">
                                            <input type="hidden" name="table" value="c">
                                            <input type="hidden" name="section" value="{{ section.value }}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            {% if reply[9] == 1 %}
                                                Liked
                                                {# Dislike Post #}
                                                <input type="submit" name="grade" value="Dislike">
                                            {% elif reply[9] == -1 %}
                                                Disliked
                                                {# Like Post #}
                                                <input type="submit" name="grade" value="Like">
                                            {% else %}
                                                {# likes #}
                                                <input type="submit" name="grade" value="Like">
                                                {# dislikes #}
                                                <input type="submit" name="grade" value="Dislike">
                                            {% endif %}
                                        </form>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
