{% extends "index.html" %}
{% block content %}

{% set page = page_info %}
{% set comment = comment %}
{% set reply = reply %}

{% set reply_to = none %}
{% set comment_label = "post_comment" %}
<!-- 
    Reference
    Index : Column Name
        0 : id
        1 : type
        2 : title
        3 : content
        4 : like
        5 : dislike
        6 : user_id
        7 : date
    -->
<div class="page_head">
    <h1>
        {{ page[2] }}
    </h1>
    <h2>
        {{ page[1] }}
    </h2>
    <p>
        {{ page[7] }}
    </p>
    <p>
        {{ page[6] }}
    </p>
</div>
<div class="page_body">
    <p>
        {{ page[3] }}
    </p>
</div>
<p>
    {{ page[4] }}
</p>
<p>
    {{ page[5] }}
</p>
<div class="page_foot"></div>
    <h3>
        Comments
    </h3>
    <!-- 
    Comment and reply reference
    Index : Column
        0 : id
        1 : user_id
        2 : post_id
        3 : comment_id
        4 : content
        5 : like
        6 : dislike
        7 : date
    -->
    <a href="{{'/comment_to/%s' %page[0]}}">Comment</a>
    <ul>
        {% for comment in comment %}
            <li> 
                <div class="comment">
                    <p>
                        {{ comment[1] }}
                    </p>
                    <p>
                        {{ comment[4] }}
                    </p>
                    <p>
                        {{ comment[5] }}
                    </p>
                    <p>
                        {{ comment[6] }}
                    </p>
                    <a href="{{'/reply_to/%s/%s' %(page[0],comment[0])}}">Reply</a>
                </div>
                <br>
                <div class="reply">
                    <ul>
                        <!-- Check if the reply "comment_id" id is the same as the comment "id" -->
                        <!-- This checks if the reply is with the corresponsing comment -->
                        {% for reply in reply %}
                            {% if reply[3] == comment[0] %}
                                <p>
                                    {{ reply[4] }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}