{% extends "index.html" %}
{% block content %}
<!-- 
    page Reference
    Index : Column Name
        0 : id
        1 : type
        2 : title
        3 : content
        4 : like
        5 : dislike
        6 : user_id
        7 : date
    -->
<div class="page_head">
    <h1>
        {{ page[2] }}
    </h1>
    <h2>
        {{ page[1] }}
    </h2>
    <p>
        {{ page[7] }}
    </p>
    <p>
        {{ page[6] }}
    </p>
</div>
<div class="page_body">
    <p>
        {{ page[3] }}
    </p>
</div>
<p>
    {{ page[4] }}
</p>
<p>
    {{ page[5] }}
</p>
<div class="page_foot"></div>
    <h3>
        Comments
    </h3>
    <div id="comment_form">
        <form action="/create_comment" method="POST" enctype="application/x-www-form-urlencoded">    
            <textarea name="comment_content" cols="30" rows="10" placeholder="Your comment" required></textarea><br>
            <input type="hidden" name="post_id" value="{{ page[0] }}">
            <input type="submit" value="Post">
        </form>
    </div>
        <!-- 
    Comment and reply reference
    Index : Column
        0 : id
        1 : user_id
        2 : post_id
        3 : comment_id
        4 : content
        5 : like
        6 : dislike
        7 : date
    -->
    <ul>
        {% for comment in comment %}
            <li> 
                <div class="comment">
                    <p>
                        {{ comment[1] }}
                    </p>
                    <p>
                        {{ comment[4] }}
                    </p>
                    <p>
                        {{ comment[5] }}
                    </p>
                    <p>
                        {{ comment[6] }}
                    </p>
                </div><br>
                <div class="reply">
                    <form action="{{ url_for('reply_to', post_id=page[0], comment_id=comment[0]) }}">
                        <input type="submit" value="Reply to comment">
                    </form>
                    <ul>
                        <!-- Check if the reply "comment_id" id is the same as the comment "id" -->
                        <!-- This checks if the reply is with the corresponsing comment -->
                        {% for reply in reply %}
                            {% if reply[3] == comment[0] %}
                                <p>
                                    {{ reply[1] }}
                                </p>
                                <p>
                                    {{ reply[4] }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
